# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: RPyC

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unittest:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python_version: ["3", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13.0-rc.2"]  # flake not working with "3.14.0-alpha.0"
        RPYC_BIND_THREADS: ["true", "false"]

    name: Unittest (${{ matrix.python_version }}, bind_threads=${{ matrix.RPYC_BIND_THREADS }})
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools flake8
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f tests/requirements.txt ]; then pip install -r tests/requirements.txt; fi
          echo "PYTHONPATH=${PYTHONPATH}:/home/runner/work/rpyc" >> $GITHUB_ENV
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Init ssh settings
        run: |
          mkdir -pv ~/.ssh
          chmod 700 ~/.ssh
          echo NoHostAuthenticationForLocalhost yes >> ~/.ssh/config
          echo StrictHostKeyChecking no >> ~/.ssh/config
          ssh-keygen -q -f ~/.ssh/id_rsa -N ''
          cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
          uname -a
      - name: Run unittest with default settings
        if: ${{ matrix.RPYC_BIND_THREADS == 'false' }}
        run: |
          python -m unittest discover -v
      - name: Run unittest with RPYC_BIND_THREADS enabled
        if: ${{ matrix.RPYC_BIND_THREADS == 'true' }}
        run: |
          RPYC_BIND_THREADS="${{ matrix.RPYC_BIND_THREADS }}" python -m unittest discover -v
